<footer id="footer"><% if (theme.sidebar === 'bottom'){ %><%- partial('_partial/sidebar') %><% } %>
<div class="outer">
	<div id="footer-info" class="inner">
		Copyright &copy; <%= config.startyear %> - <%= date(new Date(), 'YYYY') %> <%= config.author_en || config.title %>. All rights reserved.<br>
		<!--Powered by <a href="https://www.freebsd.org/" target="_blank">FreeBSD</a> · <a href="http://nginx.org/" target="_blank">NGINX</a> · <a href="https://hexo.io/" target="_blank">Hexo</a>-->
		<a href="https://www.freebsd.org/" target="_blank" rel="nofollow"><img src="/notes/images/powerani.gif" height="55" /></a>
		<a href="/go/aliyun" target="_blank" rel="nofollow"><img src="/notes/images/aliyun.png" height="39" /></a>
		<a href="/go/digitalocean" target="_blank" rel="nofollow"><img src="/notes/images/do.png" height="39" /></a>
	</div>
</div>
</footer>