    <footer id="footer">
    <div id="bottom-tip">
        <!--<%= config.title %><% if(config.subtitle) { %> —— <small><%= config.subtitle %></small><% } %>-->
		<!--欢迎来到<%= config.title %>-->
		欢迎来到葛豪武的个人博客！
    </div>
        <small>本站由 <a href="https://hexo.io/" target="_blank">Hexo</a> 强力驱动，搭载 <a href="https://github.com/XadillaX/hexadillax" target="_blank">Hexadillax</a> 主题，</small><br />
		<small>托管在 <a href="https://github.com/" target="_blank">Github Pages</a> 之上，<a href="https://www.jiasule.com/" target="_blank">Jiasule</a> 为之提供网络加速服务。</small><br />
        <small>Copyright &copy; 2015 - 2015 <%= config.author %> 保留所有权利。</small>
    </footer>
</body>
</html>