<div class="widget-wrap">
  <h3 class="widget-title">技术架构</h3>
  <div class="widget">
  <ul class="entry">
  <h3>本站托管于 Digital Ocean 之上，
  采用 FreeBSD 操作系统，
  由 NGINX 网页服务对外提供服务。<br><br>
  感谢由 Name.com ， DNSPod ，
  七牛云存储，百度统计，
  多说评论等服务商为本站提供的服务。<br><br>
  感谢 jQuery，Angularjs，
  Reveal.js 等开源项目的贡献！<br><br>
  
  <h4>特别感谢：<br>
  [屠城](https://www.haomwei.com/)<br>
  为本站提供托管主机！！！</h4>
  </ul>
  </div>
</div>
