<div class="widget-wrap">
  <h3 class="widget-title">关于本站</h3>
  <div class="widget">
  <ul class="entry">
  <h3>访客，你好！！！<br><br>
  欢迎来到我的互联网记事本，<br>这是我的个人主页笔记模块，<br>关注工作，记录生活。</h3>
  <br>
  <h4>我是学院派，您需要我的协助？<br>
  请联系我：<br>
  &nbsp;&nbsp;C3D0 BF84 791E D455 F01C<br>
  &nbsp;&nbsp;BA36 4A11 BB72 B7C9 977A</h4>
  </ul>
  </div>
</div>