<div class="widget-wrap">
  <h3 class="widget-title">功能</h3>
  <div class="widget">
  <ul class="entry">
  <h4><a href="/403.html">注册</a><br>
    <a href="/403.html">登录</a><br>
    <a href="/notes/atom.xml">日志 RSS</a><br>
    <a href="/notes/atom.xml">评论 RSS</a><br>
    <a href="https://hexo.io/" target="_blank">WordPress.com</a></h4>
  </ul>
  </div>
</div>