<div class="widget-wrap">
  <h3 class="widget-title">友情链接</h3>
  <div class="widget">
  <ul class="entry">
  <h4><a href="/notes/addlinks/">→ → → 申请友情链接？？？</a></h4>
  <li><a href="https://blog.delphij.net/" target="_blank">李&nbsp;&nbsp;&nbsp;鑫</a> | FreeBSD，delphij's Chaos</li>
  <li><a href="https://www.liurongxing.com/" target="_blank">刘荣星</a> | FreeBSD，记录自己成长点滴</li>
  <li><a href="http://www.7rack.info/" target="_blank">轨&nbsp;&nbsp;&nbsp;迹</a> | FreeBSD，7rack</li>
  <li><a href="http://lwhsu.org/" target="_blank">許立文</a> | FreeBSD，Li-Wen's</li>
  <li><a href="http://easun.org/" target="_blank">路&nbsp;&nbsp;&nbsp;杨</a> | Perl，Easun.org</li>
  <li><a href="http://eleveni386.7axu.com/" target="_blank">Eleven</a> | Linux，Eleven.I386’s</li>
  <li><a href="http://lilydjwg.is-programmer.com/" target="_blank">依&nbsp;&nbsp;&nbsp;云</a> | Linux，Lilydjwg</li>
  <li><a href="https://supercat-lab.org/" target="_blank">老&nbsp;&nbsp;&nbsp;猫</a> | Linux，SuperCat's</li>
  <li><a href="https://www.haomwei.com/" target="_blank">屠&nbsp;&nbsp;&nbsp;城</a> | Hexo，haomwei.com</li>
  <li><a href="https://metaworld.top/" target="_blank">Meta World</a> | Hexo，待整理</li>
  <li><a href="https://blog.ikke.moe/" target="_blank">梦&nbsp;&nbsp;&nbsp;路</a> | Hexo，YumeMichi's</li>
  <li><a href="http://qiancheng.me/" target="_blank">千橙说</a> | Hexo，qiancheng.me</li>
  <li><a href="https://qistchan.com/" target="_blank">浮&nbsp;&nbsp;&nbsp;风</a> | Hexo，@淇Qist的网络自留地</li>
  <li><a href="http://huts.cc/" target="_blank">紫&nbsp;&nbsp;&nbsp;妖</a> | Hexo，web前端小屋</li>
  <li><a href="https://www.ioliu.cn/" target="_blank">colyy&nbsp;</a> | Hexo，云淡风轻</li>
  <li><a href="https://www.leavesongs.com/" target="_blank">离别歌</a> | 安全，leavesongs.com</li>
  <li><a href="http://xtian.me/" target="_blank">郭晓湉</a> | 程序媛，X.Tian</li>
  <li><a href="http://xiaohudie.net/" target="_blank">小蝴蝶</a> | 程序媛，xiaohudie.net</li>
  <li><a href="http://yexiqingxi.com/" target="_blank">叶夕青</a> | 程序媛，浮华犹裳，倾尽锦年</li>
  <li><a href="https://yu.gg/" target="_blank">语の国</a> | 程序媛，yu.gg</li>
  <li><a href="http://redraiment.com/" target="_blank">张泽鹏</a> | 老乡，iKnowledge</li>
  </ul>
  <!--
  <li><a href="http://kuangqi.me/" target="_blank">锦瑟华年</a>：The Bloom of Youth | 锦瑟华年</li>
  <li><a href="http://gengbiao.me/" target="_blank">coney</a>：有些事情,再不去做就忘了.有些人,再不去找就没了</li>
  <li><a href="http://www.arao.me/" target="_blank">ARao Lin</a>：我们的征途是星辰大海</li>
  <li><a href="http://x-forwarded-for.com/" target="_blank">lumia_Prime's blog</a>：猫吃鱼，狗吃肉，奥特曼打小怪兽</li>
  <li><a href="http://xiaomonster.xyz/" target="_blank">Monster's blog</a>：Just So So ...</li>
  <li><a href="http://www.wuwenliang.net/" target="_blank">知行合一</a>：Do Not Go Gentle Into That Good Night</li>
  <li><a href="https://diary.moe/" target="_blank">Dsus4's Diary</a>：</li>
  <li><a href="https://www.freejishu.com/" target="_blank">freejishu的美丽世界</a>：一个全新的境界</li>
  -->
  </div>
</div>