<div class="widget-wrap">
  <h3 class="widget-title">LINKS</h3>
  <div class="widget">
  <ul class="entry">
  <li><a href="https://www.delphij.net/" target="_blank">Welcome to LI, Xin’s Homepage!</a>：FreeBSDChina 项目维护人</li>
  <li><a href="http://kuangqi.me/" target="_blank">锦瑟华年</a>：The Bloom of Youth | 锦瑟华年</li>
  <li><a href="https://www.liurongxing.com/" target="_blank">刘荣星的个人博客</a>：关注Linux,记录自己成长点滴。</li>
  <li><a href="http://eleveni386.7axu.com/" target="_blank">Eleven.I386’s Blog</a>：</li>
  <li><a href="https://www.haomwei.com/" target="_blank">屠城</a>：屠夫9441的博客。</li>
  <li><a href="http://www.7rack.info/" target="_blank">轨迹</a>：</li>
  </ul>
  </div>
</div>